[submodule "thirdparty/NVRHI"]
	path = thirdparty/NVRHI
	url = git@github.com:NVIDIA-RTX/NVRHI.git
[submodule "thirdparty/awesome-claude-skills"]
	path = thirdparty/awesome-claude-skills
	url = git@github.com:ComposioHQ/awesome-claude-skills.git
[submodule "thirdparty/wxWidgets"]
	path = thirdparty/wxWidgets
	url = git@github.com:wxWidgets/wxWidgets.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/old-code"]
	path = thirdparty/old-code
	url = git@github.com:zjw-swun/old-code.git
